@charset "UTF-8";

/*共通部分*/
html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium","游ゴシック Medium","YuGothic","游ゴシック体","sans-serif";
    line-height: 1.7;
    color: #432;
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.container main{
    flex: 1;

}

/*ヘッダー*/
.header{
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255,0.5);
    display: flex;
    justify-content: space-between
}
.logo{
    width: 75px;
    margin-top:15px;
    margin-left: 30px;
}
.main-nav{
    display: flex;
    font-size:16px;
    text-transform: uppercase;
    margin-top: 40px;
    list-style: none;
}
.main-nav li{
    margin-right: 50px;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover{
    color:#fa854f ;
}
.header nav{
    right: 30px;
}

/*ABOUT*/
.home-title h1{
    font-size: 72px;
    margin-left: 100px;
    margin-top: 200px;
    letter-spacing: 8px;
}
.home-title h2{
    font-size: 40px;
    margin-left: 100px;
    letter-spacing: 5px;
}
.home-title{
    line-height: 15px;
    font-family:"playfair display",serif;
}
.introduction{
    display: flex;
    justify-content: space-around;
}
img{
    margin-left: 10%;
}
.introduction p{
    font-size: clamp(16px,1.2vw,18px);
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 5%;
}
/*ABOUT-Work*/
.sub-title{
    text-align: center;
    font-size: 40px;
    font-family:"playfair display",serif ;
    padding-top: 50px;
}
.my-work img{
    margin-left: 0%;
    width: 300px;
    height: 200px;
}
.my-work{
    text-align: center;
    display: flex;
    flex-flow: column;
    line-height: 20px;
}
.my-work p{
    margin-top: 5px;
    font-size: 13px;
    padding-bottom: 50px;
}
.my-work a{
    color: #432;
    margin-top: 5px;
}
.my-work a:hover{
    color: #fa854f;
}
.home-work{
    background-color: #ffe9df; 
}

/*ボタン*/
.btn-contact{
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-contact a{
    color: #432;
    background-color:#fa854f;
    border-radius: 100vh;
    font-size: 16px;
    padding: 1.5rem 5rem;
}
.btn-contact a:hover{
    color: #432;
    background-color: #ffe9df;
}
/*Website-ボタン*/
/*一覧ボタン*/
.btn{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 50px;
}
.btn a{
    color: #432;
    margin-right: 50px;
}
.btn a:hover{
    color: #fa854f;
}
.btn-view a{
    margin-left: 50px;
}
/*送信ボタン*/
.btn-submit{
    height: 50px;
    background-color: #fa854f;
    border-radius: 100vh;
    font-size: 16px;
    padding: 1rem 5rem;
}

/*フッター*/
footer{
    height: 90px;
    background: #ffbfa1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*WORK*/
.sub-nav{
    display: flex;
    justify-content: center;
}
.sub-menu{
    display: flex;
    font-size:16px;
    text-transform: uppercase;
    list-style: none;
    margin-top: 3px;
}
.sub-menu a{
    color: #432;
}
.sub-menu a:hover{
    color: #fa854f;
}
.sub-menu li{
    margin-right: 30px;
}

/*abccoffee*/
.wrapper{
    margin-top: 100px;
}
.home-work .sub-title{
    margin-top: 50px;
}
.a-work .work-title{
    font-size: 30px;
    color: #fa854f;
    text-align: center;
    font-weight: bold;
}
.a-work p{
    text-align: center;
    margin-bottom: 2px;
}
.contents p{
    padding: 5%;
}
.flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flexbox img{
    width: 80%;
    height: auto;
    margin-right: 10%;
}
/*フォーム*/
form div{
    margin-bottom: 14px;
}
label{
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea{
    background: rgba(255, 255, 255, .5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"]{
    width: 100%;
    max-width: 500px;
}
textarea{
    width: 100%;
    max-width: 500px;
    height: 6rem;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
}
/*contact*/
.contact{
    margin-top: 150px;
    margin-left: 100px;
}
.contact h2{
    font-size: 40px;
}
.attention{
    border-bottom: 1px solid #432;
    margin-bottom: 50px;
    width: 30%;
    padding-bottom: 20px;
}
.contact p{
    line-height: 10px;
}
.contact-page{
    background-color: #ffe9df;
}

/*モバイル版*/
@media(max-width:959px){
    /*ABOUT*/
    .home-title{
        text-align: center;
    }
    .home-title h1{
        margin-left: 0;
    }
    .home-title h2{
        margin-left: 0;
    }
    .introduction{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .introduction img{
        margin-left:0;
        height: auto;
    }
    .introduction p{
        width: auto;
        text-align: center;
        font-size: clamp(14px,1vw,16px);
    }
    /*ABC COFFEE*/
   .contents p{
    width: auto;
    text-align: center;
    font-size: clamp(14px,1vw,16px);
   }
  
    
}
@media(max-width:480px){
    /*ABOUT*/
    .home-title{
        text-align: center;
    }
    .home-title h1{
        font-size: 50px;
        margin-left: 0;
    }
    .home-title h2{
        font-size: 18px;
        margin-left: 0;
    }
    .introduction{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .introduction p{
        font-size: 13px;
        width: auto;
        text-align: center;
    }
 
}
